*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    margin-top: 10%;
    justify-content: center;

}

.container > div{
  background-color: #f1f1f121;
  width: 40%;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#Moguri-Image{
    width: 300px;

}

input[type=text]{
  width: 80%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 100%;
}


.img-result{
    width: 10%;
}

#search-input{
    font-size: 32px;
    padding: 2px;

}


@media only screen and (max-width: 720px) {
    .container > div{
        background-color: #f1f1f121;
        border-style: none;
        width: 60%;
        margin: 5px;
        text-align: center;
        line-height: 75px;
        font-size: 20px;
      }

      #Moguri-Image{
        width: 200px;
    
    }
}
